/*div { border: 1px solid #cccccc; }*/

#wrap {
    padding: 18px 25%;
    margin-bottom: 20px;
}

#wrap #background {
    border: 1px solid #cccccc;
    box-shadow: 1px 1px 2px #cccccc;
    border-radius: 5px;
    padding: 20px;
}

#wrap #account div {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #403f48;
    padding-left: 10px;
    border-left: 2px solid #95a792;
}

#wrap #account .name {
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 10px;
    border-left: none;
    padding-left: 0;
}

#wrap #item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px 0 0;
    padding: 15px 0 0;
    border-top: 1px solid #cccccc;
}

#wrap #item .list-name {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    color: #95a792;
    margin-bottom: 5px;
    font-size: 18px;
}

#wrap #item .list div {
    margin-bottom: 2px;
}

#wrap #item .list a {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    color: grey;
    font-size: 15px;
    text-decoration: none;
}

#wrap #item .list a:hover {
    text-decoration: underline;
}





#account-buttons {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgray;
}

#account-buttons input {
    margin-top: 10px;
    padding: 7px 20px;
    font-family: "Noto Sans KR", sans-serif;
    color: white;
    font-size: 17px;
    background: #c9485b;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    width: 100%;
}

#account-buttons input:hover {
    cursor: pointer;
}

#account-buttons .right {
    display: flex;
}

#account-buttons .right form:nth-child(1) input {
     background: #95a792;
}

#account-buttons .right form:nth-child(2) {
    margin-left: 5px;
}

#account-buttons .right form:nth-child(2) input {
    background: #596c68;
}