html, body {
    margin: 0; padding: 0;
    height: 100%;
    box-sizing: border-box;
}

/*div { border: 1px solid #cccccc; }*/

#header {
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 2px #cccccc;
    padding: 0 10%;
    background: #403f48;
}

#title {
    display: flex;
}

#title a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #95a792;
    text-decoration: none;
}

#nav {
    display: flex;
    justify-content: flex-end;
}

#nav ul {
    width: 270px;
    display: flex;
    justify-content: space-between;
}

#nav li {
    list-style: none;
}

#nav a {
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

#body {
    height: 79%;
    padding: 0 10%;
}

#footer {
    height: 13%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid lightgray;
    box-sizing: border-box;
    padding: 0 10%;
}

#footer div {
    font-family: 'Noto Sans KR', sans-serif;
    color: darkgrey;
    font-size: 13px;
    font-weight: 300;
}

#footer div:nth-child(1) {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 6px;
}


/*==================item-lit==================*/

#head {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#head div:nth-child(1) {
    margin: 0; padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    color: #95a792;
}

#head div:nth-child(2) {
    margin-top: 10px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: darkgrey;
    margin-bottom: 10px;
}

#items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #F2F2F2;
    padding: 20px;
}

#items .item {
    background: white;
    box-shadow: 1px 1px 3px #cccccc;
    padding: 10px;
    border-radius: 5px;
}

#items img {
    width: 220px; height: 220px;
    object-fit: cover;
}

#items .title {
    margin: 5px 0;
}

#items .title a {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #403f48;
    text-decoration: none;
}

#items .title a:hover {
    text-decoration: underline;
}

#items .price, #items .amount {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #403f48;
}


/*===============item-create=================*/

#item-form button {
    margin-top: 10px;
    padding: 7px 20px;
    font-family: "Noto Sans KR", sans-serif;
    color: white;
    font-size: 17px;
    background: #596c68;
    border: none;
    border-radius: 5px;
}

#item-form button:hover {
    cursor: pointer;
}


/*================item-read==================*/

#item-wrap {
    display: flex;
    flex-direction: column;
}

#item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
}

#item .image img {
    width: 500px; height: 370px;
    object-fit: cover;
}

#item .text {
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 15px;
}

#item .text div {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #403f48;
}

#item .text .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #403f48;
}

#item .text .account a {
    color: #95a792;
    text-decoration: none;
    font-weight: 700;
}

#item .text .account a:hover {
    text-decoration: underline;
}

#item-wrap #buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 1px solid lightgray;
}

#item-wrap #buttons input {
    margin-top: 10px;
    padding: 7px 20px;
    font-family: "Noto Sans KR", sans-serif;
    color: white;
    font-size: 17px;
    background: #c9485b;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    width: 100%;
}

#item-wrap #buttons input:hover {
    cursor: pointer;
}

#item-wrap #buttons .right {
    display: flex;
}

#item-wrap #buttons .right form:nth-child(1) input {
    background: #95a792
}

#item-wrap #buttons .right form:nth-child(2) {
    margin-left: 5px;
}

#item-wrap #buttons .right form:nth-child(2) input {
    background: #596c68;
}


/*----------------------account----------------------------*/

/*============account list============*/

#accounts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#accounts .account {
    margin-bottom: 20px;
    padding: 10px 30px;
    width: 220px; height: 140px;
    background: #95a792;
    border-radius: 5px;
    box-shadow: 1px 1px 3px lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#accounts .account div {
    font-family: "Noto Sans KR", sans-serif;
    color: white;
    font-size: 17px;
    margin-bottom: 2px;
}

#accounts .account .name {
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    margin-bottom: 8px;
}

#accounts .account .name a {
    font-size: 20px;
    text-decoration: none;
    color: #403f48;
    font-weight: 700;
}

#accounts .account .name a:hover {
    text-decoration: underline;
}