{% extends "inventory/layout.html" %}
{% block headAppend %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        function clickButton(pk, status) {
            console.log(pk); //로드 잘 되는지 웹 콘솔 창에서 확인하려고 넣은 것
            console.log(status);
            $.ajax({
                type: "post",
                url: "{% url 'amount_ajax' %}",
                data: {"pk": pk, 'status': status, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function (response) {
                    console.log(1);
                    var a = document.getElementById(`amount-${pk}`);

                    a.innerText = `남은 수량 : ${response.amount}`;
                }, error: function (request, status, error) { // 통신 실패시 - 로그인 페이지 리다이렉트
                    alert('fail');
                },
            })
        };
    </script>
{% endblock %}
{% block content %}
    <div id="head">
        <div>Item List</div>
        <div>상품 목록 페이지 입니다. 여기 부연설명은 아무 이유 없고 그냥 예쁘라고 넣었어요.</div>
    </div>

    <div id="items">
        {% for item in items %}
            <div class="item">
                {% if item.image %}
                    <div class="image"><img src="{{ item.image.url }}" alt=""></div>
                {% endif %}
                <div class="title"><a href="{% url 'item_read' item.pk %}">{{ item.title }}</a></div>
                <div class="price">가격 : {{ item.price }}</div>
                <div id="amount-{{ item.pk }}" class="amount">남은 수량 : {{ item.amount }}</div>
{#                <button type="submit" onclick="location.href='{% url 'item_plus' item.pk %}'">+</button>#}
{#                <button type="submit" onclick="location.href='{% url 'item_minus' item.pk %}'">-</button>#}
                <input type="submit" onclick="clickButton({{ item.pk }},'plus')" value="+" class="button">
                <input type="submit" onclick="clickButton({{ item.pk }},'minus')" value="-" class="button">
            </div>
        {% endfor %}
    </div>
{% endblock %}

<script type="text/javascript">
    $(document).ready(function () {


    });


    {#$("#plus-button").click(function () {#}
    {#    var pk = $(this).attr('name');#}
    {#    console.log(0);#}
    {#    $.ajax({#}
    {#        type: "post",#}
    {#        url: "{% url 'amount_ajax' %}",#}
    {#        data: {"pk": pk, 'status':'plus', 'csrfmiddlewaretoken': '{{ csrf_token }}'},#}
    {#        success: function (response) {#}
    {#            console.log(1);#}
    {#            var a = document.getElementById(`amount-${pk}`);#}
    {##}
    {#            a.innerText = `남은 수량 : ${response.amount}`;#}
    {#        }, error: function (request, status, error) { // 통신 실패시 - 로그인 페이지 리다이렉트#}
    {#            alert('fail');#}
    {#        },#}
    {#    })#}
    {#$("#minus-button").click(function () {#}
    {#    var pk = $(this).attr('name');#}
    {#    $.ajax({#}
    {#        type: "post",#}
    {#        url: "{% url 'amount_ajax' %}",#}
    {#        data: {"pk": pk, 'status':'minus',' 'csrfmiddlewaretoken': '{{ csrf_token }}'},#}
    {#        success: function (response) {#}
    {#            var amount_plus = parseInt(response.amount) - 1;#}
    {#            $("#amount-" + pk).text("남은 수량 : " + amount_plus);#}
    {#        }#}
    {#    })#}
</script>