{% extends "inventory/layout.html" %}

{% block content %}
    <div id="head">상품 등록</div>

    <div id="wrap">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="question">제품명</div>
                <div class="input">
                    <input type="text" name="title">
                </div>
            </div>
            <div class="row">
                <div class="question">제품 사진</div>
                <div class="input">
                    <input type="file" name="image">
                </div>
            </div>
            <div class="row">
                <div class="question">제품 설명</div>
                <div class="input">
                    <textarea name="content"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="question">가격</div>
                <div class="input">
                    <input type="number" name="price">
                </div>
            </div>
            <div class="row">
                <div class="question">남은 수량</div>
                <div class="input">
                    <input type="number" name="amount">
                </div>
            </div>
{#            <div class="row">#}
{#                <div class="question">거래처</div>#}
{#                <div class="input">#}
{#                    <input type="text" name="title">#}
{#                </div>#}
{#            </div>#}
            <div id="button">
                <input type="submit" value="등록">
            </div>
        </form>
    </div>
{% endblock %}